@import "../../css_compiled_imports/Variables.scss";
@import "../../css_compiled_imports/Mixins.scss";
@import "../../css_compiled_imports/Components.scss";

//Global Styles
.slick-prev,
.slick-next {
  background: initial;
}
.slick-list {
  overflow: visible;
}

.slick-dots {
  color: red;
  display: block;
  text-align: right;
  position: relative;
  bottom: 0;
  margin-top: 2vw;
}

.__label {
  font-family: "MonumentExtended";
  font-weight: 100;
  position: absolute;
  bottom: -3vw;
  font-size: 1vw;
}
.slick-slider {
  height: inherit;
  .slick-list {
    height: inherit;
    .slick-track {
      height: inherit;
    }
  }
  * {
    cursor: none !important;
  }
}
.slick-slider ._image {
  background-color: red;
}

.slick-dots .slick-active {
  width: auto;
  height: auto;

  // width: ;
}
.slick-dots li {
  vertical-align: middle;
  width: auto;
  height: auto;
  margin: 0 0.1vw;
}
.slick-dots li button:before {
  content: "";
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  width: 0.5vw;
  height: 0.5vw;
  position: static;
  transition: width 0.5s ease-out, height 0.5s ease-out;
  // will-change: transform;
}

.slick-dots li button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow: visible;
  width: 2vw;
  height: 2vw;
}
.slick-dots li.slick-active button:before {
  content: "";
  background-color: black;
  width: 1vw;
  height: 1vw;
}

//Global Style for SliderThreeView
.SliderThreeView {
  width: 100%;

  .slick-track {
    display: flex;
  }
  .slick-slide {
    margin: 0 1vw;
    will-change: margin;
    transition: transform 0.5s ease, margin 0.5s ease;
    div {
      //outline-color: rgba(red, green, blue, alpha);
      outline: none;
    }
  }

  .slick-slide {
    &:hover {
      margin: 0 3vw;
      transform: scale(1.1);
    }
  }
}

//Global style for SliderDotsAuto
.SliderDotsAuto {
  .slick-arrow {
    display: none !important;
  }
}
