@import "../../css_compiled_imports/Variables.scss";
@import "../../css_compiled_imports/Mixins.scss";
@import "../../css_compiled_imports/Components.scss";

//"../fonts/fonts.scss";
$dark-gray-text: #909090;

@mixin contentFont {
  font-family: "DrukWide";
  font-size: 1.9rem;
  text-align: justify;
}
@mixin monumentExtendedFont {
  font-family: "MonumentExtended";
  font-size: 1.2rem;
  text-align: justify;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

#preview_pane_container {
  width: 100%;
  margin-bottom: 8vw;
  .title {
    @include contentFont();
    text-align: left;
    margin-left: 21vw;
    font-size: 2.1vw;
  }
  ._head {
    @include flex-row();
    align-items: center;
    font-size: 1.3vw;
    justify-content: flex-end;
    width: max-content;
    margin-left: auto;
    // background: url($right_arrow) no-repeat left center;
    // background-size: 1.5vw;
    //padding-left: 4vw;
    margin-right: 5.7vw;
    ._label {
      color: $dark-gray-text;
      @include monumentExtendedFont();
      font-weight: 100;
      font-size: 1.2rem;
      margin-right: 1vw;
    }
    ._icon {
      width: 2vw;
      height: 2vw;

      @include square_button(down);
    }
  }

  ._cta {
    margin: 0 auto;
    width: fit-content;
    a {
      display: flex;
      text-decoration: none;

      justify-content: center;
      align-items: center;
    }
    input {
      @include WB_button();
      padding: 0.7vw 1.7vw;
      font-size: 0.8vw;
    }
    div {
      background: url($right_arrow);
      background-size: cover;
      display: inline-block;
      width: 1.5vw;
      height: 1.5vw;
      margin-left: 2vw;
    }
  }
}

.previews_container {
  padding: 4.5vw 0 3.2vw;
  .preview_scroller {
    @include flex-row();
  }
  ._image {
    margin-right: 2vw;
    width: 34vw;
    height: calc(34vw / 1.444);
    flex: none;
    background-color: rgb(226, 226, 226);
  }
  .label {
    text-align: left;
    margin-top: 6%;
    color: rgb(168, 168, 168);
  }
}
