@mixin BW_button {
  background-color: black;
  color: white;
  font-family: "DrukWide";
  letter-spacing: 0.1vw;
  cursor: pointer;
  padding: 0.8vw 1.2vw;
  border-radius: 3vw;
  font-weight: 200;
  border: none;
  font-size: 1vw;
  height: fit-content;
}

//#footer input
