@mixin BW_button {
  background-color: black;
  color: white;
  font-family: "DrukWide";
  letter-spacing: 0.1rem;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-weight: 200;
  border: none;
  font-size: 1rem;
}

//#footer input
