@import "../../css/Variables.scss";
@import "../../css/Mixins.scss";
@import "../../css/Components.scss";

//"../fonts/fonts.scss";
$dark-gray-text: #909090;

@mixin contentFont {
  font-family: "DrukWide";
  font-size: 1.9rem;
  text-align: justify;
}
@mixin monumentExtendedFont {
  font-family: "MonumentExtended";
  font-size: 1.2rem;
  text-align: justify;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.7rem;
  position: sticky;
  bottom: 0;
  transition-property: bottom;
  transition-duration: 1s;
  transition-delay: 0s;
  background-color: white;
  padding-bottom: 25px;
  padding-top: 1rem;
}

#footer[data-show="DOWN"] {
  transition-property: bottom;
  transition-duration: 1s;
  transition-delay: 0s;
  bottom: -85px;
}

#footer input {
  @include BW_button();
  position: relative;
  right: 3rem;
}

#footer p {
  font-family: "MonumentExtended";
  font-size: 0.6rem;
  color: rgba(208, 208, 208, 1);
}
