@import "../../css/Variables.scss";
@import "../../css/Mixins.scss";
@import "../../css/Components.scss";

//"../fonts/fonts.scss";
$dark-gray-text: #909090;

@mixin contentFont {
  font-family: "DrukWide";
  font-size: 1.9rem;
  text-align: justify;
}
@mixin monumentExtendedFont {
  font-family: "MonumentExtended";
  font-size: 1.2rem;
  text-align: justify;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
// @keyframes homeSlide {
//   0% {
//     transform: translate(-80vw, 0);
//   }

//   100% {
//     transform: translate(0, 0);
//   }
// }
// #pageNavigation.splash {
//   animation-name: homeSlide;
//   animation-duration: 2s;
//   animation-delay: 0.3s;
//   animation-fill-mode: forwards;
// }

#pageNavigation {
  display: flex;
  height: 9.6vw;
  // flex-direction: column;
  z-index: 2;
  width: 100%;
  align-self: flex-end;
  padding-left: 24vw;
  padding-right: 6vw;
  font-family: "DrukTextWide";
  text-align: left;
  letter-spacing: 0.1vw;
  font-size: 1.1vw;
  // margin-bottom: 6vw;
  position: sticky;
  top: 0;
  background-color: white;
  //margin-top: 3vw;
  padding-top: 3.7vw;
  transform: scale(1);
  // box-shadow: 0 0 4px 5px rgb(255, 255, 255);
  transition: padding-top 0.1s;
}

#pageNavigation.shrink .buttons {
  transform: translateY(-2.3vw);
}

#pageNavigation .links {
  color: $light-gray-text;
  margin-bottom: 0.2rem;
  transform: scale(1.2);
  transform-origin: left;
  transition: transform 0.5s;
}
#pageNavigation.shrink .links {
  //margin-bottom: 0.5rem;
  transform: scale(1) translateY(-2.3vw);
  will-change: transform;
}
.nActive {
  color: black;
}

.nav {
  margin: 0 0.4vw 0vw 0;
}
.navGroup {
  margin-bottom: 0.3vw;
}
nav a {
  text-decoration: none;
  color: $light-gray-text;
}

.buttons {
  margin-left: auto;
  transition: transform 0.5s;
  a,
  input {
    margin-right: 2vw;
    font-size: 0.6vw;
  }
  input {
    @include WB_button();
    margin-right: 0;
  }
}
.links {
  span {
    cursor: pointer;
  }
}
