@import "../../css/Variables.scss";
@import "../../css/Mixins.scss";
@import "../../css/Components.scss";

//"../fonts/fonts.scss";
$dark-gray-text: #909090;

@mixin contentFont {
  font-family: "DrukWide";
  font-size: 1.9rem;
  text-align: justify;
}
@mixin monumentExtendedFont {
  font-family: "MonumentExtended";
  font-size: 1.2rem;
  text-align: justify;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

.preview_pane_container {
  width: 100%;
  margin-bottom: 9vw;
  .title {
    @include contentFont();
    text-align: left;
    margin-left: 21vw;
    font-size: 2.1vw;
  }
}

.previews_container {
  padding: 1.5vw 0;
  margin-bottom: 0.6vw;
  .preview_scroller {
    @include flex-row();
  }
  ._image {
    margin-right: 2vw;
    width: 34vw;
    height: calc(34vw / 1.444);
    flex: none;
    background-color: rgb(208, 208, 208);
  }
  .label {
    text-align: left;
    margin-top: 6%;
    color: rgb(46, 46, 46);
  }
}
