@font-face {
  font-family: "DrukTextWide";
  src: url(../fonts/Druk_Text_Wide/DrukTextWide-Bold.otf);
  font-weight: 600;
}

@font-face {
  font-family: "DrukTextWide";
  src: url(../fonts/Druk_Text_Wide/DrukTextWide-Medium.otf);
  font-weight: 200;
}

@font-face {
  font-family: "DrukWide";
  src: url(../fonts/Druk_Text/DrukWide-Bold.otf);
  font-weight: 600;
}

@font-face {
  font-family: "DrukWide";
  src: url(../fonts/Druk_Text/DrukWide-Medium.otf);
  font-weight: 200;
}

@font-face {
  font-family: "MonumentExtended";
  src: url(../fonts/MonumentExtended/MonumentExtended-Regular.otf);
}

@font-face {
  font-family: "MonumentExtended";
  src: url(../fonts/MonumentExtended/MonumentExtended-Ultralight.otf);
  font-weight: lighter;
}
