@import "../../css_compiled_imports/Variables.scss";
@import "../../css_compiled_imports/Mixins.scss";
@import "../../css_compiled_imports/Components.scss";

#our_Approach {
  font-family: DrukTextWide;
  font-weight: 200;
  @include section-margin();
  @include flex-column();
  line-height: 3vw;
  text-align: left;
  font-size: 1.7vw;
  //margin-top: 3vw;
  background-color: rgb(244, 244, 244);
  padding-left: 15vw;
  padding-right: 7.8vw;
  padding-bottom: 9vw;
  padding-top: 6vw;
  .container {
    @include flex-row();
    min-width: 100%;
    h2 {
      font-size: 2.9vw;
      color: rgb(208, 208, 208);
      font-weight: 200;
    }
    .dash {
      border-bottom: 1px solid black;
      margin: 0 4vw;
    }
    .pageCounter {
      @include monumentExtendedFont();
      align-self: flex-end;
      p {
        font-size: 1.1vw;
        margin: 0;
        line-height: 0;
        span {
          color: rgb(208, 208, 208);
        }
      }
    }
  }
  .subHeader {
    padding-bottom: 2vw;
    border-bottom: 1px solid rgb(216, 216, 216);
    h3 {
      @include monumentExtendedFont();
      font-size: 3.8vw;
      font-weight: 100;
    }
  }
  .articles {
    @include flex-row();
    padding-top: 5.6vw;
    //padding-left: 10vw;

    .right_arrow {
      width: 2vw;
      height: 2vw;
      @include square_button(right);
      margin-right: 7vw;
    }
    article:first-of-type {
      margin-right: 7vw;
    }
    article {
      @include monumentExtendedFont();
      flex: 1;
      color: rgb(107, 107, 107);
      h4 {
        margin-top: 0;
        font-weight: 600;
        font-size: 1.4vw;
      }
      p {
        font-size: 0.7vw;
        line-height: 1.5vw;
      }
    }
  }
}
