@import "../../css_compiled_imports/Variables.scss";
@import "../../css_compiled_imports/Mixins.scss";
@import "../../css_compiled_imports/Components.scss";

// #LeftSectionContainer {
//   width: 20vw;
// }

// #LeftSectionMask {
//   width: 23vw;
//   height: 100%;
//   position: fixed;
//   left: 0;
//   background-color: white;
//   z-index: 3;
// }
// #LeftSection {
//   z-index: 4;
//   width: 20vw;
//   height: 100%;
//   border-right: 2px solid rgb(245, 245, 245);
//   // overflow: hidden;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   align-items: flex-end;
//   top: 0;
//   left: $container_width_padding;
//   position: fixed;
//   padding-top: $page_top_padding;
// }

#LeftSectionLogo {
  width: 14.2vw;
  position: fixed;
  top: $page_top_padding;
  left: 3.5vw;
  z-index: 3;
}
#LeftSectionLogoImage {
  width: 100%;
  height: auto;
  float: right;
  filter: brightness(0);
}

// #contentLeftSection {
//   width: 100%;
//   height: 100%;
//   @include flex-column();
//   align-items: flex-end;
// }
// #contentLeftSectionImage {
//   display: block;
//   margin-top: 17vw;
//   width: 25vw;
//   opacity: 0;
//   transition-property: opacity;
//   transition-duration: 0.5s;
//   transition-delay: 0s;
// }

// #contentLeftSectionImage.showImage {
//   opacity: 1;
//   margin: auto 0;
// }
.OurApproachImages {
  margin: auto 0;
}
.OurApproachImage1,
.OurApproachImage2 {
  height: 15vw;
}
.OurApproachImage1 {
  background-color: $light-gray-text;
}
.OurApproachImage2 {
  background-color: $dark-gray-text;
}

#LeftSectionLogo {
  align-self: flex-start;
}
.SelectedProjectsSide_Filters {
  margin-right: auto;
  margin-top: 4vw;
  margin-bottom: auto;
  margin-left: 0.3vw;
  @include monumentExtendedFont();
  font-size: 0.6vw;
  width: 20.4vw;
}

.SelectedProjectsSide_Header {
  margin-bottom: 1.5vw;
}
.SelectedProjectsSide_FilterItem {
  color: $light-gray-text;
}
.filtActive,
.filtActiveIn {
  color: black;
}
.SelectedProjectsSide_FilterItem {
  margin-bottom: 1vw;
  cursor: pointer;
}

.back_arrow {
  width: 10%;
}
