@import "../../css_compiled_imports/fonts.scss";
@import "../../css_compiled_imports/Variables.scss";
@import "../../css_compiled_imports/Mixins.scss";
@import "../../css_compiled_imports/Components.scss";
* {
  box-sizing: border-box;
  text-align: left;
  text-decoration: none;
}
button {
  outline: none;
}
a,
a:visited,
a:hover,
a:active,
button {
  color: inherit;
  //cursor: pointer;
}
h1,
h2,
h2,
h4,
p {
  margin: 0;
}
@-ms-viewport {
  width: device-width;
}

html {
  background-color: white;
  scroll-behavior: smooth;
  * {
    cursor: none;
  }
}

.mouse {
  // top: 50%;
  // left: 50%;
  transform-origin: center;
  pointer-events: none;
  position: none;
  width: 1vw;
  height: 1vw;
  border: 1px solid white;
  border-radius: 20%;
  position: fixed;
  mix-blend-mode: exclusion;
  z-index: 10000;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s ease;
}

body {
  width: 100vw;
  height: 100vh;
}

@function height133($height) {
  $test: calc($height/1.33);
  @return $test;
}

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (max-width: 500px) {
//   html {
//     font-size: 7px;
//   }
// }

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 501px) and (max-width: 1390px) {
//   html {
//     font-size: 12px;
//   }
// }

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {
//   html {
//     font-size: 12px;
//   }
// }

@media only screen and (min-width: 1400px) {
  html {
    font-size: 16px;
  }
}
body {
  background-color: white;
  overflow: scroll;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0vw;
  //width: 1em;
}
body::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: none;
  background-color: white;
}
body::-webkit-scrollbar-thumb {
  background-color: $light-gray-text;
  outline: 1px solid slategrey;
}

body::-webkit-scrollbar-thumb:scro {
  background-color: $light-gray-text;
  outline: 1px solid slategrey;
}

// @keyframes homeSlide {
//   0% {
//     transform: translate(0, 0);
//   }

//   100% {
//     transform: translate(0, 0);
//   }
// }

// #contentCover.splash {
//   animation-name: homeSlide;
//   animation-duration: 2s;
//   animation-delay: 0.6s;
//   animation-fill-mode: forwards;
// }

#contentCover {
  //pointer-events: none;
  //height: 100%;
  transform: translate3d(0, 0, 0);
  transition: height 0s ease;
  overflow: hidden;
  padding-top: 2vw;
  will-change: height;
}
#mainContainer {
  width: 100%;

  // height: 100vh;
  display: flex;
  flex-direction: row;
  // padding: 0 $container_width_padding;
  justify-content: center;
  background-color: white;
}
#mainContainer {
  // scroll-snap-type: y proximity;
  // scroll-snap-stop: always;
  // overflow-y: scroll;

  #overview,
  #we_want,
  #what_we_do {
    display: flex;
    flex-direction: row;
    width: 100%;
    //scroll-snap-align: center;
  }
}

#RightSectionContainer {
  //overflow-x: hidden;

  width: 80vw;
  height: 100%;
  //overflow: hidden;
  flex: 1;
}
#RightSection {
  min-height: 100%;
  // padding-left: 3vw;
  // padding-top: $page_top_padding;
  display: flex;
  flex-direction: column;
  font-family: "MonumentExtended";
}

#mainContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 0rem;
  margin: auto;
  //padding-top: 6vw;
  width: 100%;
  transition: margin-top 1s cubic-bezier(0.28, -0.65, 0.58, 1) 0.2s,
    transform 1s cubic-bezier(0.34, 0.88, 0.25, 1);
  //Without this, I can't click on the filters
  // * {
  //   pointer-events: auto;
  // }
}
#mainContent.moved {
  margin-top: 16rem;
}

@keyframes opacityPulse {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
//As I can't seem to use the same animation on the same property twice, I had to make a duplicate of the animation above
@keyframes opacityPulse2 {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
._left {
  width: 21vw;
  height: auto;
}
._right {
  padding-left: 3vw;
  //border-left: $grey_border;
  // border-bottom: $grey_border;
  padding-bottom: 4vw;
  flex: 1;
  width: 78vw;
}
._head {
  letter-spacing: 0.1vw;
}

#we_want {
  @include section-margin();
  margin-top: $page_divider_spacing;
  // border-bottom: $grey_border;
  padding-bottom: 1.3vw;
  padding-right: 10vw;
  ._left {
  }
  ._right {
    background: linear-gradient(#f5f5f5, #f5f5f5) 0 100%/1px 35.4% no-repeat,
      linear-gradient(#f5f5f5, #f5f5f5) 28% 100%/86% 1px no-repeat;
    padding-top: 3vw;
    padding-bottom: 3.3vw;
  }

  ._container {
    @include flex-row();
    margin-bottom: 4.5vw;
    line-height: 2.5vw;
  }
  ._head {
    font-family: "DrukTextWide";
    color: $light-gray-text;
    text-align: left;
    font-weight: 200;
    font-size: 3vw;
    margin-bottom: 3vw;
  }
  ._number {
    @include contentFont();
    color: black;
    width: 3%;
    margin-right: 2.5vw;
    flex-shrink: 0;
    font-size: 2vw;
  }
  ._text {
    @include contentFont();
    color: $dark-gray-text;
    font-size: 1.8vw;
  }
  ._footer {
    @include contentFont();
    font-size: 1.3vw;
    color: $light-gray-text;
    margin-top: 2.5vw;
    font {
      color: black;
    }
  }
}

#what_we_do {
  ._right {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#f5f5f5, #f5f5f5) 0 0%/2px 97% no-repeat;
  }
  ._title {
    font-size: 1.9vw;
    text-align: left;
    font-weight: 600;
    letter-spacing: 0.2vw;
  }
  ._dash {
    margin: 1vw 3vw;
    border-top: $dash;
    flex: 1;
  }
  ._article {
    line-height: 1.5vw;
    font-size: 0.8vw;
  }
}
.bg {
  background-color: rgb(244, 244, 244);
  position: absolute;
  z-index: -1;
}
.bg._1 {
  width: 100%;
  height: 30vw;
  transform: translate(0, 5%);
  transition: transform 1s cubic-bezier(0.34, 0.88, 0.25, 1);
}

.bg._2 {
  width: 60%;
  height: 30vw;
  transform: translate(0, 314%);
  right: 0;
  transition: transform 1s cubic-bezier(0.34, 0.88, 0.25, 1);
}
#what_we_do {
  color: rgb(38, 38, 38);
  @include flex-column();
  flex-wrap: wrap;
  button {
    @include WB_button();
    padding: 0.6vw 2.1vw;
    margin-top: 3vw;
  }
  ._right {
    border: 0;
  }
  ._head {
    font-family: "DrukTextWide";
    color: $light-gray-text;
    text-align: left;
    font-weight: 200;
    font-size: 3vw;
    margin-bottom: 16vw;
  }
  ._subHeadBlock {
    @include monumentExtendedFont();

    background-color: rgb(208, 208, 208);
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      //color: rgb(38, 38, 38);
      margin: auto;
      width: 80%;
      font-size: 2.1vw;
      line-height: 3.5vw;
    }
  }
  .top.right {
    width: 48.6vw;
    height: 24vw;
    align-self: flex-end;
    margin-bottom: 9.7vw;
    margin-right: 7.6vw;
  }

  ._brand {
    @include flex-row();
    margin-bottom: 10vw;
    padding: 0 2.2vw;
    text-align: left;
    ._title {
      width: 13vw;
    }
    ._dash {
    }
    ._article {
      width: 34vw;
      margin-right: 12vw;
    }
  }

  ._products {
    @include flex-row();
    margin-bottom: 22vw;
    padding-right: 7vw;
    text-align: left;
    position: relative;
    right: 24vw;
    top: 2vw;
    ._image {
      width: 33vw;
      height: 20vw;
      background-color: $light-gray-text;
    }
    ._dash {
      width: 4vw;
    }
    .container {
      width: 26.4vw;

      ._title {
        width: 20vw;
        margin-bottom: 3vw;
      }
      ._article {
        width: 20vw;
      }
    }
  }

  .mid.left {
    width: 49vw;
    height: 25vw;
    margin-bottom: 6vw;
    color: rgb(133, 133, 133);
    background-color: rgb(252, 252, 252);
  }
  ._strategy {
    @include flex-row();
    margin-bottom: 2vw;
    padding: 0 12vw 0 2vw;
    text-align: left;
    ._dash {
      margin: 1vw 3vw;
    }
    ._title {
      width: 15vw;
      margin-bottom: 3vw;
    }
    ._article {
      width: 30vw;
    }
  }
}

#partners {
  width: 100%;
  padding-top: 5.8vw;
  margin-bottom: 16.4vw;
  padding-right: 3vw;
  line-height: 1.3vw;
  font-size: 0.7vw;
  @include flex-row();

  .title {
    width: 20.8vw;
    font-size: 1.3vw;
    text-align: left;
    font-weight: 600;
    letter-spacing: 0.2vw;
    margin-left: 6vw;
    font-weight: 800;
    h3 {
      margin-right: 0.4vw;
    }
  }

  .container {
    @include flex-row();
    flex-wrap: wrap;
    flex: 1;
    padding-right: 10vw;
    margin-left: 21vw;
    border-left: $grey_border;

    .sub_detail {
      padding-right: 6vw;
      margin-left: 6vw;
      text-align: left;
      margin-bottom: 3.3vw;
      line-height: 2vw;
    }
    ._labels:first-of-type {
      border-left: 0;
    }
    ._labels {
      @include flex-column();
      flex: 1;
      font-size: 0.6vw;
      align-items: center;
      width: 33%;
      border-left: $grey_border;
      ._window {
        background-color: rgb(242, 242, 242);
        width: 7vw;
        height: 7vw;
        border-radius: 50% 50%;
        margin: auto;
      }
      p {
        margin-bottom: 5vw;
      }
    }
  }
}

.labelContainer {
  @include flex-row();
  width: 100%;
}
