@import "../../fonts/fonts.scss";
@import "../../components/content/css/Content_Colours.scss";
@import "../../components/content/css/Component_Style/Sentence_Grey_Line.scss";
@import "../../components/content/css/Component_Style/BW_button.scss";

@mixin contentFont {
  font-family: "DrukWide";
  font-size: 1.9rem;
  text-align: justify;
}
@mixin monumentExtendedFont {
  font-family: "MonumentExtended";
  font-size: 1.2rem;
  text-align: justify;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin section-margin {
  margin-bottom: 25rem;
}

$checkbox_size: 2rem;

.ProjectsHead {
  @include contentFont();
  text-align: left;
  font-size: 4rem;
  width: 75%;
  margin-bottom: 8rem;
}
.WorkTogether.form_container {
  @include monumentExtendedFont();
}
.form_info {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

select {
  -webkit-appearance: none;
  border: 0;
  border-bottom: 1px solid $dark-gray-text;
  padding-bottom: 0.7rem;
  margin-bottom: 2.5rem;
}

select:focus {
  outline: none;
}
select option {
  @include monumentExtendedFont();
  background-color: white;
  color: black;
  font-size: 1.3rem;
}
//Not working
select option:hover {
  background-color: black;
  color: white;
}
select[name="Talk about"] {
  @include contentFont();
  width: 100%;
  font-size: 1.7rem;
  //Need these to add the arrows on the right
  //   background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat 100% #fff;
  //   background-position-x: 175px;
}
.WorkTogether input[type="text"],
.WorkTogether input[type="email"],
#referrers {
  @include monumentExtendedFont();
  color: $light-gray-text;
  border: 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid $dark-gray-text;
  font-size: 1.3rem;
}
.WorkTogether input[type="text"]::placeholder,
.WorkTogether input[type="email"]::placeholder {
  color: $light-gray-text;
}
.WorkTogether input:focus {
  outline: none;
}
.name_company {
  width: 100%;
}
.name_company #name {
  width: 27rem;
}
.name_company #company_name {
  width: 45rem;
}

#email {
  width: 100%;
}
.form_row_container.howDid {
  align-items: center;
}
.choose {
  width: 40%;
}
.choose div {
  font-size: 0.8rem;
  color: $dark-gray-text;
  margin-bottom: 0.8rem;
}
#referrers {
  width: 100%;
}
.WorkTogether input[value="Submit form"] {
  @include BW_button();
  min-width: 12.5rem;
  min-height: 3.0625rem;
}
.form_row_container {
  @include flex-row();
  justify-content: space-between;
}

#Tell_us {
  width: 100%;
}
.form_footer {
  @include flex-row();
}
.form_footer input[type="checkbox"] {
  width: $checkbox_size;
  height: $checkbox_size;
  border: 1px solid black;
  cursor: pointer;
}
.form_footer_text {
  width: 75%;
  font-size: 0.8rem;
  line-height: 1.3rem;
}
.clear {
  font-size: 1rem;
  color: $dark-gray-text;
}

#Talk_about,
.name_company,
#email,
.form_row_container.howDid,
#Tell_us,
.form_footer {
  margin-bottom: 3.5rem;
}
