@import "../../fonts/fonts.scss";
@import "../../components/content/css/Content_Colours.scss";
@import "../../components/content/css/Component_Style/Sentence_Grey_Line.scss";
@import "../../components/content/css/Component_Style/BW_button.scss";

@mixin contentFont {
  font-family: "DrukWide";
  font-size: 1.9rem;
  text-align: justify;
}
@mixin monumentExtendedFont {
  font-family: "MonumentExtended";
  font-size: 1.2rem;
  text-align: justify;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin section-margin {
  margin-bottom: 25rem;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade_crop {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
// @keyframes move {
//   0% {
//     width: 12rem;
//     // right: 0;
//     // bottom: 0;
//   }
//   100% {
//     width: 45%;
//     //5.8rem;
//     //right: 41.4%;
//     //bottom: 42.3%;
//   }
// }

$duration: 0.5s;
.Splash {
  opacity: 0.3;
  position: fixed;
  z-index: 3;
  @include contentFont();
  width: 100%;
  height: 100vh;
  background-color: white;
  @include flex-row();
  justify-content: center;
  align-items: center;
}

.Splash.hide {
  animation-name: fadeOut;
  animation-duration: $duration;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.Splash.skip {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.Splash .content {
  @include flex-row();
  width: 15%;
}

.Splash .content.hide {
  animation-name: fadeOut;
  animation-duration: $duration;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.Splash .think {
  color: $dark-gray-text;
  margin-right: 1.2rem;
}

.Splash .design {
  animation-name: fadeOut;
  animation-duration: $duration;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.Splash .systems {
  opacity: 0;
  animation-name: fadeOut;
  animation-duration: $duration;
  animation-delay: 0s;
  animation-direction: reverse;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.Splash .logo_div {
  //transform: scale(0.7);
  display: inline-block;
  position: relative;
  flex-shrink: 0;
  width: 100%;
  opacity: 0;
  animation-name: fade_crop;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  top: 0%;
  left: 0%;
  transition-property: top, left;
  transition-duration: 1s;
  transition-delay: 0s;
}

.Splash .logo_div.move {
  top: 3%;
  left: 45%;
  opacity: 1;

  .logo {
    // width: 37rem;
  }
}

.Splash .logo {
  width: 37rem;
  transition-property: width;
  transition-duration: 1s;
  transition-delay: 0s;
}

.Splash .logo_div + .mask {
  display: inline-block;
  flex-shrink: 0;
  position: relative;
  width: 100%;
  background-color: white;
  transition-property: right;
  transition-duration: 0.5s;
  transition-delay: 0s;
  right: -100%;
  height: 100%;
  //transform-origin: right;
}

.Splash .logo_div.move + .mask {
  right: 26%;
}

.logo_div_container {
  overflow: hidden;
  position: fixed;
  width: 50%;
  transition-property: width;
  transition-duration: 1s;
  transition-delay: 0s;
  &.moveUp {
    //width: calc(((100% - (6% * 2)) * 20) / 100);
  }
}
.logo_div_container .logo_div_cover {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  &.moveUp {
    //transform:scale();
  }
}
