@import "../fonts/fonts.scss";
* {
  box-sizing: border-box;
}

@-ms-viewport {
  width: device-width;
}

$light-gray-text: #d0d0d0;
$dark-gray-text: #909090;
$divider_spacing: 1rem;

@mixin contentFont {
  font-family: "DrukWide";
  font-size: 1.9rem;
  text-align: justify;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin section-margin {
  margin-bottom: 25rem;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html {
    font-size: 16px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 11px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

body::-webkit-scrollbar {
  width: 1em;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: $light-gray-text;
  outline: 1px solid slategrey;
}

#mainContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 8rem;
  justify-content: flex-end;
  background-color: white;
}
#LeftSectionContainer {
  width: 20%;
}
#LeftSection {
  width: 20%;
  padding-top: 3rem;
  border-right: 2px solid rgb(245, 245, 245);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  top: 0;
  left: 4rem;
  position: fixed;
}

#LeftSectionLogoImage {
  max-width: 15rem;
  height: auto;
  margin-right: $divider_spacing;
}
#contentLeftSection {
  margin-top: 13rem;
}
#contentLeftSectionImage {
  display: block;
  max-width: 31rem;
  height: auto;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

#contentLeftSectionImage.showImage {
  opacity: 1;
}
#RightSectionContainer {
  width: 80%;
}
#RightSection {
  width: 80%;
  padding: 3rem 0 3rem $divider_spacing;
  display: flex;
  flex-direction: column;
  font-family: "MonumentExtended";
  margin-right: 0rem;
}

#headerInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.6rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}
#headerLeft {
  text-align: left;
}
#headerLeft div {
  margin-bottom: 0.5rem;
}
#headerLeft span {
  margin-right: 0.5rem;
}
#headerRight {
  text-align: right;
}
#headerRight span {
  margin-right: 0.5rem;
}

.headerKey {
  font-weight: 800;
}
.headerValue {
  font-weight: 400;
  color: $light-gray-text;
}

#mainContent {
  padding: 0rem;
  margin-bottom: 5rem;
  margin-top: 0;
  transition-property: margin-top;
  transition-duration: 0.52s;
  transition-delay: 0s;
}
#mainContent.moved {
  margin-top: 20rem;
}

#pageNavigation {
  font-family: "DrukWide";
  text-align: left;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  padding-bottom: 5rem;
  position: sticky;
  top: 0;
  background-color: white;
  padding-top: 4rem;
  margin-top: 0rem;
  box-shadow: 0 0 4px 5px rgb(255, 255, 255);
  transition-property: padding-top, margin-top;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

#pageNavigation.scroll {
  padding-top: 1.6rem;
  margin-top: -8rem;
  transition-property: padding-top, margin-top;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

#pageNavigation div {
  color: $light-gray-text;
  margin-bottom: 0.2rem;
}
.nActive {
  color: black;
}

.nav {
  margin: 0 1rem 0 0;
}

nav a {
  text-decoration: none;
  color: $light-gray-text;
}

#overview {
  @include contentFont();
  @include section-margin();
}

#overview_1 {
  margin-bottom: 10rem;
}

#overview_2 {
  font-size: 1.5rem;
  color: $dark-gray-text;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.7rem;
  position: sticky;
  bottom: 0;
  transition-property: bottom;
  transition-duration: 1s;
  transition-delay: 0s;
  background-color: white;
  padding-bottom: 25px;
}

#footer[data-show="DOWN"] {
  transition-property: bottom;
  transition-duration: 1s;
  transition-delay: 0s;
  bottom: -85px;
}

#footer input {
  background-color: black;
  color: white;
  font-family: "DrukWide";
  letter-spacing: 0.1rem;
  position: relative;
  right: 3rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-weight: 200;
  border: none;
}
#footer p {
  font-family: "MonumentExtended";
  font-size: 0.6rem;
  color: rgba(208, 208, 208, 1);
}
#we_want {
  @include section-margin();
}

.we_want_container {
  @include flex-row();
}

.we_want_text {
  @include contentFont();
  color: $dark-gray-text;
  margin-bottom: 4rem;
}
.we_want_number {
  @include contentFont();
  color: black;
  margin-bottom: 4rem;
  width: 2rem;
  margin-right: 3rem;
}

.we_want_footer {
  @include contentFont();
  font-size: 1.38rem;
  color: $light-gray-text;
  margin-top: 3rem;
  font {
    color: black;
  }
}

#our_Approach {
  @include contentFont();
  @include section-margin();
  @include flex-column();
  line-height: 3rem;
  text-align: left;
}

#our_Approach_Nothing {
  font-size: 1.38rem;
  color: $light-gray-text;
  margin-bottom: 2rem;
  letter-spacing: 0.1rem;
}
#our_Approach_Nothing span {
  letter-spacing: 0.7rem;
}
#_4CS_container {
  @include flex-row();
  margin-bottom: 6rem;
}

#_4CS {
}
#_4CS span {
  color: $light-gray-text;
}
#_4CS_line_container {
  width: 15%;
}
#_4CS_line {
  height: 25%;
  width: 50%;
  border-bottom: 2px solid $light-gray-text;
  margin: 0 auto;
}
#_4CS_blob {
  width: 60%;
  flex-grow: 1;
}
#_4CS_parag {
  font-size: 2.1rem;
}
