@import "../fonts/fonts.scss";
* {
  box-sizing: border-box;
}
$light-gray-text: #d0d0d0;
$dark-gray-text: #909090;
$divider_spacing: 3rem;

@mixin contentFont {
  font-family: "DrukWide";
  font-size: 1.9rem;
  text-align: justify;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

#mainContainer {
  display: flex;
  flex-direction: row;
  margin: 0 15rem 0 8rem;
  justify-content: flex-end;
}
#LeftSection {
  width: 23%;
  padding-top: 3rem;
  border-right: 2px solid rgb(245, 245, 245);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  top: 0;
  left: 0;
  position: fixed;
}

#LeftSectionLogoImage {
  max-width: 15rem;
  height: auto;
  margin-right: $divider_spacing;
}
#contentLeftSection {
  margin-top: 18rem;
}
#contentLeftSectionImage {
  max-width: 27rem;
  height: auto;
}
#RightSection {
  width: 79%;
  padding: 3rem 0 3rem $divider_spacing;
  display: flex;
  flex-direction: column;
  font-family: "MonumentExtended";
  margin-right: 0rem;
}

#headerInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.6rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}
#headerLeft {
  text-align: left;
}
#headerLeft div {
  margin-bottom: 0.5rem;
}
#headerLeft span {
  margin-right: 0.5rem;
}
#headerRight {
  text-align: right;
}
#headerRight span {
  margin-right: 0.5rem;
}

.headerKey {
  font-weight: 800;
}
.headerValue {
  font-weight: 400;
  color: $light-gray-text;
}

#mainContent {
  padding: 0rem;
  margin-bottom: 5rem;
}

#pageNavigation {
  font-family: "DrukWide";
  text-align: left;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  padding-bottom: 5rem;
  position: sticky;
  top: 0;
  background-color: white;
  padding-top: 4rem;
  margin-top: 0rem;
  box-shadow: 0 0 4px 5px rgb(255, 255, 255);
  transition-property: padding-top, margin-top;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

#pageNavigation.scroll {
  padding-top: 1.6rem;
  margin-top: -8rem;
  transition-property: padding-top, margin-top;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

#pageNavigation div {
  color: $light-gray-text;
  margin-bottom: 0.2rem;
}
.nActive {
  color: black;
}

.nav {
  margin: 0 1rem 0 0;
}

nav a {
  text-decoration: none;
  color: $light-gray-text;
}

#overview {
  @include contentFont();
  margin-bottom: 13rem;
}

#overview_1 {
  margin-bottom: 10rem;
}

#overview_2 {
  font-size: 1.5rem;
  color: $dark-gray-text;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.7rem;
  position: sticky;
  bottom: 0;
  transition-property: bottom;
  transition-duration: 1s;
  transition-delay: 0s;
  background-color: white;
  padding-bottom: 25px;
}

#footer[data-show="DOWN"] {
  transition-property: bottom;
  transition-duration: 1s;
  transition-delay: 0s;
  bottom: -85px;
}

#footer input {
  background-color: black;
  color: white;
  font-family: "DrukWide";
  letter-spacing: 0.1rem;
  position: relative;
  right: 3rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-weight: 200;
}
#footer p {
  font-family: "MonumentExtended";
  font-size: 0.6rem;
  color: rgba(208, 208, 208, 1);
}
#we_want {
  margin: 4rem 0 4rem 0;
}

.we_want_container {
  @include flex-row();
}

.we_want_text {
  @include contentFont();
  color: $dark-gray-text;
  margin-bottom: 4rem;
}
.we_want_number {
  @include contentFont();
  color: black;
  margin-bottom: 4rem;
  width: 2rem;
  margin-right: 3rem;
}

.we_want_footer {
  @include contentFont();
  font-size: 1.38rem;
  color: $light-gray-text;
  margin-top: 3rem;
  font {
    color: black;
  }
}
