@import "../fonts/fonts.scss";
@import "../components/content/css/Content_Colours.scss";
@import "../components/content/css/Component_Style/Sentence_Grey_Line.scss";

* {
  box-sizing: border-box;
}

@-ms-viewport {
  width: device-width;
}

$divider_spacing: 3rem;
$project_preview_container_width: 38rem;
$selected_project_image_width: 79.399375rem;
$page_top_padding: 1.6rem;

@mixin contentFont {
  font-family: "DrukWide";
  font-size: 1.9rem;
  text-align: justify;
}
@mixin monumentExtendedFont {
  font-family: "MonumentExtended";
  font-size: 1.2rem;
  text-align: justify;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin section-margin {
  margin-bottom: 0rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 11px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1400px) {
  html {
    font-size: 16px;
  }
}
body {
  background-color: white;
}

body {
  //overflow: hidden;
}

body::-webkit-scrollbar {
  width: 1em;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: $light-gray-text;
  outline: 1px solid slategrey;
}

#mainContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 6rem;
  justify-content: center;
  background-color: white;
}
#LeftSectionContainer {
  width: 20%;
}
#LeftSection {
  width: 18%;
  height: 100%;
  border-right: 2px solid rgb(245, 245, 245);
  // overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  top: 0;
  left: 6rem;
  position: fixed;
}

#LeftSectionLogoImage {
  width: 17rem;
  height: auto;
  margin-right: 4rem;
  margin-top: $page_top_padding;
}
#contentLeftSection {
  width: 100%;
  height: 100%;
  @include flex-column();
  align-items: flex-end;
}
#contentLeftSectionImage {
  display: block;
  margin-top: 13rem;
  max-width: 31rem;
  height: auto;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

#contentLeftSectionImage.showImage {
  opacity: 1;
}
.OurApproachImages {
  margin-top: 5rem;
}
.OurApproachImage1,
.OurApproachImage2 {
  width: 20rem;
  height: 20rem;
}
.OurApproachImage1 {
  background-color: $light-gray-text;
}
.OurApproachImage2 {
  background-color: $dark-gray-text;
}
#RightSectionContainer {
  width: 80%;
}
#RightSection {
  padding: $page_top_padding 0 3rem $divider_spacing;
  display: flex;
  flex-direction: column;
  font-family: "MonumentExtended";
  margin-right: 0rem;
}

#headerInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.6rem;
  margin-top: 1.2rem;
  margin-bottom: 3rem;
}
#headerLeft {
  text-align: left;
}
#headerLeft div {
  margin-bottom: 0.5rem;
}
#headerLeft span {
  margin-right: 0.5rem;
}
#headerRight {
  text-align: right;
}
#headerRight span {
  margin-right: 0.5rem;
}

.headerKey {
  font-weight: 800;
}
.headerValue {
  font-weight: 400;
  color: $light-gray-text;
}

#mainContent {
  padding: 0rem;
  margin-bottom: 0rem;
  margin-top: 0;
  transition-property: margin-top;
  transition-duration: 1s;
  transition-delay: 0s;
}
#mainContent.moved {
  margin-top: 16rem;
}

#pageNavigation {
  width: 100%;
  font-family: "DrukWide";
  text-align: left;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  margin-bottom: 8rem;
  position: sticky;
  top: 0;
  background-color: white;
  padding-top: 1rem;
  box-shadow: 0 0 4px 5px rgb(255, 255, 255);
  transition-property: font-size, padding-top;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

#pageNavigation.shrink {
  padding-top: 1.8rem;
  //margin-bottom: 13rem;
  font-size: 1rem;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

#pageNavigation div {
  color: $light-gray-text;
  margin-bottom: 0.2rem;
}
.nActive {
  color: black;
}

.nav {
  margin: 0 1rem 0 0;
}

nav a {
  text-decoration: none;
  color: $light-gray-text;
}

#overview {
  @include contentFont();
  @include section-margin();
}

#overview_1 {
  margin-bottom: 10rem;
}

#overview_2 {
  font-size: 1.5rem;
  color: $dark-gray-text;
}

#we_want {
  @include section-margin();
}

.we_want_container {
  @include flex-row();
}

.we_want_text {
  @include contentFont();
  color: $dark-gray-text;
  margin-bottom: 4rem;
}
.we_want_number {
  @include contentFont();
  color: black;
  margin-bottom: 4rem;
  width: 2rem;
  margin-right: 3rem;
}

.we_want_footer {
  @include contentFont();
  font-size: 1.38rem;
  color: $light-gray-text;
  margin-top: 3rem;
  font {
    color: black;
  }
}

#our_Approach {
  @include contentFont();
  @include section-margin();
  @include flex-column();
  line-height: 3rem;
  text-align: left;
}

#our_Approach_Nothing {
  font-size: 1.38rem;
  color: $light-gray-text;
  margin-bottom: 2rem;
  letter-spacing: 0.1rem;
}
#our_Approach_Nothing span {
  letter-spacing: 0.7rem;
}
#_4CS_container {
  @include flex-row();
  margin-bottom: 6rem;
}

#_4CS span {
  color: $light-gray-text;
}
#_4CS_line_container {
  width: 15%;
}
#_4CS_line {
  @include Sentence_Grey_Line();
  width: 50%;
}
#_4CS_blob {
  width: 60%;
  flex-grow: 1;
}
#_4CS_parag {
  font-size: 2.1rem;
}
#selectedProjects_container {
  @include flex-row();
  @include section-margin();
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  width: 100%;
}
//The height needs to be the width calculated by 1.33 to give me a 4/3 aspect. This could just be determined by the image though
.project_preview_container {
  width: $project_preview_container_width;
  height: $project_preview_container_width/ 1.33;
  margin-bottom: 1.5rem;
  background-color: black;
  border-radius: 0.7rem;
  cursor: pointer;
}
.Arm_Container {
  @include section-margin();
}
.Arm_Header_Container {
  @include flex-row();
  margin-bottom: 5rem;
}

.Arm_Left,
.Arm_Right {
  width: 50%;
  text-align: left;
  margin: auto 0;
}
.Arm_Right {
  line-height: 1.4rem;
  font-size: 0.9rem;
  color: $dark-gray-text;
}
.Arm_Left_head,
.Arm_Left_mid,
.Arm_Left_bottom {
  margin-bottom: 1rem;
}
.Arm_Left_head {
  @include contentFont();
  font-size: 2.3rem;
}
.Arm_Left_mid {
  @include monumentExtendedFont();
}
.Arm_Left_bottom {
  font-size: 0.7rem;
  color: $dark-gray-text;
}
.Selected_projects_images_Container {
  margin-bottom: 7rem;
}
.Selected_Projects_Image {
  width: $selected_project_image_width;
  height: $selected_project_image_width / 1.777;
  margin: 0 auto 1.5rem 0;
  background-color: black;
  border-radius: 0.7rem;
}

.nextProject {
  @include flex-column();
  align-items: flex-start;
  line-height: 2.8rem;
}

.nextProject_Next,
.nextProject_Project {
  @include contentFont();
}
.nextProject_Project {
  color: $dark-gray-text;
}
