@font-face {
  font-family: "DrukWide";
  src: url(../fonts/DrukWide/DrukWide-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: "DrukWide";
  src: url(../fonts/DrukWide/DrukWide-Medium.otf);
}

@font-face {
  font-family: "MonumentExtended";
  src: url(../fonts/MonumentExtended/MonumentExtended-Regular.otf);
}

@font-face {
  font-family: "MonumentExtended";
  src: url(../fonts/MonumentExtended/MonumentExtended-Ultralight.otf);
  font-weight: lighter;
}

#mainContainer {
  display: flex;
  flex-direction: row;
  margin: 0 17rem;
}
#LeftSection {
  width: 15%;
  padding: 3rem 3rem 3rem 0;
  border-right: 2px solid rgb(245, 245, 245);
}

#LeftSectionLogoImage {
  max-width: 15rem;
  height: auto;
}

#RightSection {
  width: 85%;
  padding: 3rem 0 3rem 3rem;
  display: flex;
  flex-direction: column;
  font-family: "MonumentExtended";
  margin-right: 0rem;
}

#headerInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.7rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}
#headerLeft {
  text-align: left;
}
#headerLeft div {
  margin-bottom: 0.5rem;
}
#headerLeft span {
  margin-right: 0.5rem;
}
#headerRight {
  text-align: right;
}
#headerRight span {
  margin-right: 0.5rem;
}

.headerKey {
  font-weight: 800;
}
.headerValue {
  font-weight: 400;
  color: rgba(208, 208, 208, 1);
}

#mainContent {
  padding: 0rem;
  margin-bottom: 5rem;
}

#pageNavigation {
  font-family: "DrukWide";
  text-align: left;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  margin-bottom: 7rem;
}

#pageNavigation div {
  color: rgba(208, 208, 208, 1);
  margin-bottom: 0.2rem;
}
.nActive {
  color: black;
}
.nav {
  margin: 0 1rem 0 0;
}

#overview {
  font-family: "DrukWide";
  font-size: 1.9rem;
  text-align: justify;
  margin-right: 0rem;
}

#overview_1 {
  margin-bottom: 10rem;
}

#overview_2 {
  font-size: 1.5rem;
  color: rgba(144, 144, 144, 1);
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 0.7rem;
}

#footer input {
  background-color: black;
  color: white;
  font-family: "DrukWide";
  letter-spacing: 0.1rem;

  padding: 1rem 2rem;
  border-radius: 2rem;
  font-weight: 200;
}
#footer p {
  font-family: "MonumentExtended";
  font-size: 0.6rem;
  color: rgba(208, 208, 208, 1);
}
