@import "../../css/Variables.scss";
@import "../../css/Mixins.scss";
@import "../../css/Components.scss";

$dark-gray-text: #909090;

.bwButton_A {
  margin-left: auto;
  & .bwButton {
    @include BW_button();
  }
}

#Contact_container {
  width: 100%;
  @include flex-column();
  @include contentFont();
  margin-bottom: 3vw;
  font-size: 2vw;
}
.getInTouch {
  align-self: flex-start;
  font-size: 1.6vw;
  margin-bottom: 1vw;
  color: $light-gray-text;
}
.contact_say_hi {
  @include flex-row();
  align-items: center;
  margin-bottom: 6vw;
  flex-wrap: wrap;
}

.dash {
  width: 5vw;
  @include Sentence_Grey_Line();
  margin: 0 3%;
}

.say_hi span {
  color: $dark-gray-text;
}

.contact_lower {
  font-size: 1.7vw;
  text-align: left;
}

.contact_lower_blurb {
  margin-bottom: 3.5vw;
}
.no_Actual {
  color: $light-gray-text;
}
.socials {
  margin-bottom: 1.6vw;
}
