@import "../../css/Variables.scss";
@import "../../css/Mixins.scss";
@import "../../css/Components.scss";

$dark-gray-text: #909090;

@mixin contentFont {
  font-family: "DrukWide";
  font-size: 1.9rem;
  text-align: justify;
}
@mixin monumentExtendedFont {
  font-family: "MonumentExtended";
  font-size: 1.2rem;
  text-align: justify;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
.bwButton_A {
  margin-left: auto;
  & .bwButton {
    @include BW_button();
  }
}

#Contact_container {
  width: 100%;
  @include flex-column();
  @include contentFont();
  margin-bottom: 3rem;
}
.getInTouch {
  align-self: flex-start;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: $light-gray-text;
}
.contact_say_hi {
  @include flex-row();
  align-items: center;
  margin-bottom: 5rem;
  flex-wrap: wrap;
}

.dash {
  width: 6rem;
  @include Sentence_Grey_Line();
  margin: 0 3%;
}

.say_hi span {
  color: $dark-gray-text;
}

.contact_lower {
  font-size: 1.5rem;
  text-align: left;
}

.contact_lower_blurb {
  margin-bottom: 3rem;
}
.no_Actual {
  color: $light-gray-text;
}
.socials {
  margin-bottom: 1.5rem;
}
