@import "../../css/Variables.scss";
@import "../../css/Mixins.scss";
@import "../../css/Components.scss";
@import "../../css/components/customInputStyler";
$down_arrow: "../../images/Icons/down_arrow.png";
$checkbox_size: 2rem;
.projects_form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 11vw;
}
.ProjectsHead {
  @include contentFont();
  text-align: left;
  font-size: 3.3vw;
  width: 75%;
  margin-bottom: 7vw;
  line-height: 4vw;
}
.WorkTogether.form_container {
  @include monumentExtendedFont();
  font-size: 1.5vw;
}
.form_info {
  font-size: 0.9vw;
  margin-bottom: 1rem;
}

select {
  -webkit-appearance: none;
  border: 0;
  border-bottom: 1px solid $dark-gray-text;
  margin-bottom: 2.5rem;
}

select:focus {
  outline: none;
}
select option {
  @include monumentExtendedFont();
  background-color: white;
  color: black;
  font-size: 1.3rem;
}
//Not working
select option:hover {
  background-color: black;
  color: white;
}
select[name="Talk about"] {
  @include contentFont();
  width: 100%;
  font-size: 1.7rem;
  //Need these to add the arrows on the right
  //   background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat 100% #fff;
  //   background-position-x: 175px;
}
.WorkTogether input[type="text"],
.WorkTogether input[type="email"],
#referrers {
  @include monumentExtendedFont();
  //color: $light-gray-text;
  border: 0;
  padding-bottom: 1vw;
  border-bottom: 1px solid $dark-gray-text;
  font-size: 1.2vw;
}
.WorkTogether input[type="text"]::placeholder,
.WorkTogether input[type="email"]::placeholder {
  color: $light-gray-text;
}
.WorkTogether input:focus {
  outline: none;
}
.name_company {
  width: 100%;
}
.name_company #name {
  width: 40%;
}
.name_company #company_name {
  width: 50%;
}

#email {
  max-width: 40%;
  margin-right: 10%;
}
.form_row_container.howDid {
  align-items: center;
  font-size: 1.2vw;
}
.WorkTogether > .custom-select {
  margin-bottom: $form_inner_margin_bottom;
}
.choose {
  width: 40%;
  div:first-child {
    font-size: 0.7vw;
    color: black;
  }
}

.choose div {
  font-size: 1.6vw;
  color: $dark-gray-text;
}
#referrers {
  width: 100%;
}

#referrers + div {
  @include monumentExtendedFont();
  padding-left: 0;
  font-size: 1vw;
}

#Interested_in {
  width: 100%;
}

.WorkTogether input[value="Submit form"] {
  @include BW_button();
  // min-width: 12.5rem;
  // min-height: 3.0625rem;
}
.form_row_container {
  @include flex-row();
  justify-content: space-between;
}

#Tell_us {
  width: 100%;
}
.form_footer {
  @include flex-row();
  margin-bottom: 3vw;
  margin-top: $form_inner_margin_bottom;
}

#agree {
  margin: 0;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 2vw;
  width: 2vw;
  z-index: 2;
}

.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 2vw;
  width: 2vw;
  border: 2px solid $light-gray-text;
  border-radius: 25%;
}

/* On mouse-over, add a grey background color */
.checkmark:hover {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
#agree:checked ~ .checkmark {
  background-color: black;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
// #agree:checked ~ .checkmark:after {
//   display: block;
// }

// /* Style the checkmark/indicator */
// .form_row_container .checkmark:after {
//   left: 9px;
//   top: 5px;
//   width: 5px;
//   height: 10px;
//   border: solid white;
//   border-width: 0 3px 3px 0;
//   -webkit-transform: rotate(45deg);
//   -ms-transform: rotate(45deg);
//   transform: rotate(45deg);
// }

.form_footer_text {
  font-size: 0.6vw;
  line-height: 1vw;
  //margin: 0 auto;
  flex: 1;
  max-width: 62%;
}
.clear {
  font-size: 0.8vw;
  color: $dark-gray-text;
  cursor: pointer;
  width: fit-content;
  margin: 0 auto;
}

#Talk_about,
.name_company,
#email,
.form_row_container.howDid {
  margin-bottom: $form_inner_margin_bottom;
}

.WorkTogether .select-selected {
  background: url($down_arrow) no-repeat 100%;
  background-size: 1.5vw;
}
