@import "../../css/Variables.scss";
@import "../../css/Mixins.scss";
@import "../../css/Components.scss";

@mixin contentFont {
  font-family: "DrukWide";
  font-size: 1.9rem;
  text-align: justify;
}
@mixin monumentExtendedFont {
  font-family: "MonumentExtended";
  font-size: 1.2rem;
  text-align: justify;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin section-margin {
  margin-bottom: 25rem;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade_crop {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
// @keyframes move {
//   0% {
//     width: 12rem;
//     // right: 0;
//     // bottom: 0;
//   }
//   100% {
//     width: 45%;
//     //5.8rem;
//     //right: 41.4%;
//     //bottom: 42.3%;
//   }
// }

<<<<<<< HEAD:src/pages/css/splash.scss
$moveDelay: 0.5s;
$splashDuration: 0.5s;
=======
@keyframes logoShrink {
  from {
    width: 45rem;
  }

  to {
    width: 20rem;
  }
}

$duration: 0.5s;

>>>>>>> 22d85f8... Moved files around:src/css/pages/splash.scss
.Splash {
  opacity: 1;
  position: fixed;
  z-index: 3;
  @include contentFont();
  width: 100%;
  height: 100vh;
  background-color: white;
  @include flex-row();
  justify-content: center;
  align-items: center;
}

.Splash.hide {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

.Splash.skip {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.Splash .content {
  @include flex-row();
  width: 15%;
}

.Splash .content.hide {
  animation-name: fadeOut;
  animation-duration: $splashDuration;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.Splash .think {
  color: $dark-gray-text;
  margin-right: 1.2rem;
}

.Splash .design {
  animation-name: fadeOut;
  animation-duration: $splashDuration;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.Splash .systems {
  opacity: 0;
  animation-name: fadeOut;
  animation-duration: $splashDuration;
  animation-delay: 0s;
  animation-direction: reverse;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.Splash .logo_div {
  //transform: scale(0.7);
  display: inline-block;
  position: relative;
  flex-shrink: 0;
  width: 100%;
  opacity: 0;
  animation-name: fade_crop;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  top: 0%;
  left: 0%;
  transition-property: opacity;
  transition-duration: 1s;
  transition-delay: 3s;
}

.Splash .logo_div.move {
  //top: 3%;
  //left: 45%;
  //opacity: 1;
  .logo {
    //width: 18rem;
  }
}
// .Splash .logo_div.move
// slideDone
.Splash .logo {
  width: 320%;
  transition-property: width;
  transition-duration: 1s;
  transition-delay: 2s;
}

.Splash .logo_div + .mask {
  display: inline-block;
  flex-shrink: 0;
  position: relative;
  width: 280%;
  background-color: white;
  // transition-property: right;
  // transition-duration: 0.5s;
  // transition-delay: 0s;
  right: -220%;
  height: 100%;
  //transform-origin: right;
}
@keyframes mask_slide {
  0% {
    right: -220%;
  }

  100% {
    right: 11%;
  }
}

.Splash .logo_div.slide + .mask {
  //right: 60%;
  animation-name: mask_slide;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes mask_slide2 {
  0% {
    right: 75%;
  }

  100% {
    right: 20%;
    // right: 91%;
  }
}
.Splash .logo_div.move + .mask {
  right: 11%;
}

@keyframes containerCenter {
  0% {
    left: 30%;
  }

  100% {
    left: 40%;
    // right: 91%;
  }
}

@keyframes containerTopLeft {
  0% {
    top: 30%;
    left: 40%;
  }

  100% {
    top: 0%;
    left: 6%;
  }
}
.logo_div_container {
  position: fixed;
  //width: 50%;
  //overflow: hidden;
  width: calc(((100% - (6% * 2)) * 20) / 100);
  top: 30%;
  left: 30%;
  transition-property: top, left;
  transition-duration: 1s;
  transition-delay: 2s;
  &.center {
    //left: 40%;
    animation-name: containerCenter;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition-property: top, left;
    transition-duration: 1s;
    transition-delay: 2s;
  }

  &.move {
    top: 30%;
    left: 40%;
    animation-name: containerTopLeft;
    animation-duration: 1s;
    animation-delay: $moveDelay;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

.logo_div_container .logo_div_cover {
  display: flex;
  width: 100%;
  // flex-direction: row;
  // flex-wrap: nowrap;
  //overflow: hidden;
  transform-origin: left top;
  margin-top: 1.6rem;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 1s;
  transition-delay: $moveDelay;
}

.logo_div_container.move .logo_div_cover {
  transform: scale(0.3);
}
