@import "../../css/Variables.scss";
@import "../../css/Mixins.scss";
@import "../../css/Components.scss";

@mixin contentFont {
  font-family: "DrukWide";
  font-size: 1.9rem;
  text-align: justify;
}
@mixin monumentExtendedFont {
  font-family: "MonumentExtended";
  font-size: 1.2rem;
  text-align: justify;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin section-margin {
  margin-bottom: 25rem;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade_crop {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
    width: 45rem;
  }
  100% {
    opacity: 1;
    width: 12rem;
  }
}
@keyframes move {
  0% {
    width: 12rem;
    // right: 0;
    // bottom: 0;
  }
  100% {
    width: 5.8rem;
    //right: 41.4%;
    //bottom: 42.3%;
  }
}
@keyframes move_container {
  0% {
    width: 100%;
    right: 0;
    bottom: 0;
  }
  100% {
    width: calc(((100% - (6% * 2)) * 20) / 100);
    right: 41.4%;
    bottom: 42.3%;
  }
}
@keyframes logoShrink {
  from {
    width: 45rem;
  }

  to {
    width: 20.2rem;
  }
}

$duration: 0.5s;

.Splash {
  opacity: 0.3;
  position: fixed;
  z-index: 3;
  @include contentFont();
  width: 100vw;
  height: 100vh;
  background-color: white;
  @include flex-row();
  justify-content: center;
  align-items: center;
}

.Splash.hide {
  animation-name: fadeOut;
  animation-duration: $duration;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.Splash.skip {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.Splash .content {
  @include flex-row();
  width: 15%;
}

.Splash .content.hide {
  animation-name: fadeOut;
  animation-duration: $duration;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.Splash .think {
  color: $dark-gray-text;
  margin-right: 1.2rem;
}

.Splash .design {
  animation-name: fadeOut;
  animation-duration: $duration;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.Splash .systems {
  opacity: 0;
  animation-name: fadeOut;
  animation-duration: $duration;
  animation-delay: 0s;
  animation-direction: reverse;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
.Splash .logo_div {
  width: 45rem;
  overflow: hidden;

  opacity: 0;
  animation-name: fade_crop;
  animation-duration: 4s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.Splash .logo_div_container {
  width: 100%;
  position: relative;
  &.move {
    animation-name: move_container;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}
.Splash .logo_div.move {
  opacity: 1;
  width: 12rem;
  animation-name: move;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  .logo {
    animation-name: logoShrink;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}
.Splash .logo {
  width: 45rem;
}
