@import "../fonts/fonts.scss";
@import "Variables.scss";
@import "Mixins.scss";
@import "Components.scss";

* {
  box-sizing: border-box;
}

@-ms-viewport {
  width: device-width;
}

html {
  background-color: white;
}
body {
  width: 100vw;
  height: 100vh;
}

@function height133($height) {
  $test: calc($height/1.33);
  @return $test;
}
// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (max-width: 500px) {
//   html {
//     font-size: 7px;
//   }
// }

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 501px) and (max-width: 1390px) {
//   html {
//     font-size: 12px;
//   }
// }

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {
//   html {
//     font-size: 12px;
//   }
// }

@media only screen and (min-width: 1400px) {
  html {
    font-size: 16px;
  }
}
body {
  background-color: white;
  overflow: scroll;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 1em;
}
body::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: none;
  background-color: white;
}
body::-webkit-scrollbar-thumb {
  background-color: $light-gray-text;
  outline: 1px solid slategrey;
}

body::-webkit-scrollbar-thumb:scro {
  background-color: $light-gray-text;
  outline: 1px solid slategrey;
}
#mainContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 0 $container_width_padding;
  justify-content: center;
  background-color: white;
}

#RightSectionContainer {
  width: 80%;
  height: 100%;
}
#RightSection {
  min-height: 100%;
  padding-left: 8%;
  padding-top: 1vw;
  display: flex;
  flex-direction: column;
  font-family: "MonumentExtended";
}

#headerInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.6vw;
  margin-top: 1.6%;
  margin-bottom: 4%;
}
#headerLeft {
  text-align: left;
}
#headerLeft div {
  margin-bottom: 0.6vw;
}
#headerLeft span {
  margin-right: 0.6vw;
}
#headerRight {
  text-align: right;
}
#headerRight span {
  margin-right: 0.5rem;
}

.headerKey {
  font-weight: 800;
}
.headerValue {
  font-weight: 400;
  color: $light-gray-text;
}

#mainContent {
  padding: 0rem;
  margin: auto;
  width: 100%;
  transition: margin-top 1s cubic-bezier(0.28, -0.65, 0.58, 1) 0.2s;
}
#mainContent.moved {
  margin-top: 16rem;
}

@keyframes opacityPulse {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
//As I can't seem to use the same animation on the same property twice, I had to make a duplicate of the animation above
@keyframes opacityPulse2 {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#pageNavigation {
  display: flex;
  height: 6.5vw;
  // flex-direction: column;
  z-index: 2;
  width: 100%;
  font-family: "DrukWide";
  text-align: left;
  letter-spacing: 0.1rem;
  font-size: 1.3vw;
  margin-top: 0vw;
  margin-bottom: 10vw;
  position: sticky;
  top: 0;
  background-color: white;
  padding-top: 1vw;
  box-shadow: 0 0 4px 5px rgb(255, 255, 255);
  transition: height 0.5s, font-size 0.1s 0.2s, padding-top 0.5s, margin 0.5s;

  div {
    animation-name: opacityPulse2;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }
  a:nth-child(2) .nav::after {
    content: " .";
    opacity: 0;
    transition: opacity 0s 0.2s;

    //color: red;
  }
}

#pageNavigation.shrink {
  // flex-direction: row;
  //margin-top: -8vw;
  height: 7.1vw;
  padding-top: 2vw;
  font-size: 1vw;
  div {
    animation-name: opacityPulse;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }

  // transition-duration: 0.5s;
  // transition-delay: 0s;
  a:nth-child(2) .nav::after {
    content: " .";
    opacity: 1;
    //color: red;
  }
}

#pageNavigation div {
  color: $light-gray-text;
  margin-bottom: 0.2rem;
  transition: margin-bottom 0.5s 0.2s;
}
#pageNavigation.shrink div {
  margin-bottom: 0.5rem;
}
.nActive {
  color: black;
}

.nav {
  margin: 0 1vw 0 0;
}

nav a {
  text-decoration: none;
  color: $light-gray-text;
}

#overview {
  @include contentFont();
  @include section-margin();
  font-size: 2vw;
}

#overview_1 {
  margin-bottom: 5vw;
}

#overview_2 {
  font-size: 1.5vw;
  color: $dark-gray-text;
}

#we_want {
  @include section-margin();
  margin-bottom: 4vw;
}

.we_want_container {
  @include flex-row();
  margin-bottom: 6vw;
}

.we_want_text {
  @include contentFont();
  color: $dark-gray-text;
  font-size: 1.8vw;
}
.we_want_number {
  @include contentFont();
  color: black;
  width: 3%;
  margin-right: 2.5vw;
  flex-shrink: 0;
  font-size: 2vw;
}

.we_want_footer {
  @include contentFont();
  font-size: 1.3vw;
  color: $light-gray-text;
  margin-top: 2.5vw;
  font {
    color: black;
  }
}

#our_Approach {
  @include contentFont();
  @include section-margin();
  @include flex-column();
  line-height: 3vw;
  text-align: left;
  font-size: 1.7vw;
}

#our_Approach_Nothing {
  font-size: 1.8vw;
  color: $light-gray-text;
  margin-bottom: 2vw;
  letter-spacing: 0.1vw;
}
#our_Approach_Nothing span {
  letter-spacing: 0.8vw;
}
#_4CS_container {
  @include flex-row();
  margin-bottom: 7vw;
}

#_4CS span {
  color: $light-gray-text;
}
#_4CS_line_container {
  width: 15%;
}
#_4CS_line {
  @include Sentence_Grey_Line();
  width: 50%;
}
#_4CS_blob {
  width: 60%;
  flex-grow: 1;
}
#_4CS_parag {
  font-size: 2.1vw;
}
#selectedProjects_container {
  @include flex-row();
  @include section-margin();
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  width: 100%;
}
//The height needs to be the width calculated by 1.33 to give me a 4/3 aspect. This could just be determined by the image though
.project_preview_container {
  width: 48%;
  height: calc(34vw / 1.33);
  //height133(85%);
  // $project_preview_container_width/ 1.33;
  margin-bottom: 1.5rem;
  background-color: black;
  border-radius: 0.7rem;
  cursor: pointer;
}
.Arm_Container {
  @include section-margin();
}
.Arm_Header_Container {
  @include flex-row();
  margin-bottom: 5rem;
}

.Arm_Left,
.Arm_Right {
  width: 50%;
  text-align: left;
}
.Arm_Right {
  line-height: 1.5vw;
  font-size: 0.9vw;
  color: $dark-gray-text;
  margin-top: 1vw;
}
.Arm_Left_head,
.Arm_Left_mid,
.Arm_Left_bottom {
  margin-bottom: 0.4vw;
}
.Arm_Left_bottom {
  margin-top: 1vw;
}
.Arm_Left_head {
  @include contentFont();
  font-size: 2vw;
}
.Arm_Left_mid {
  @include monumentExtendedFont();
}
.Arm_Left_bottom {
  font-size: 1vw;
  color: $dark-gray-text;
}
.Selected_projects_images_Container {
  margin-bottom: 7rem;
}
.Selected_Projects_Image {
  width: 100%;
  height: calc(80vw / 2.777);
  margin: 0 auto 2vw 0;
  background-color: black;
  border-radius: 0.7rem;
}

.nextProject {
  @include flex-column();
  align-items: flex-start;
  line-height: 2.8rem;
}

.nextProject_Next,
.nextProject_Project {
  @include contentFont();
  font-size: 2.2vw;
}

.nextProject_Project {
  color: $dark-gray-text;
}
