@import "Components.scss";

$divider_spacing: 8%;
$project_preview_container_width: 40rem;
$selected_project_image_width: 79.399375rem;
$page_top_padding: 1.7vw;
$container_width_padding: 3%;
$form_inner_margin_bottom: 3.6vw;
$page_divider_spacing: 3vw;
$grey_border: 2px solid whitesmoke;
$dash: 1px solid black;
