@font-face {
  font-family: "DrukTextWide";
  src: url(../fonts/Druk_Text_Wide/DrukTextWide-Medium.otf);
  font-weight: normal;
}

@font-face {
  font-family: "DrukTextWide";
  src: url(../fonts/Druk_Text_Wide/DrukTextWide-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: "DrukWide";
  src: url(../fonts/Druk_Text/DrukWide-Medium.otf);
  font-weight: normal;
}

@font-face {
  font-family: "DrukWide";
  src: url(../fonts/Druk_Text/DrukWide-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: "MonumentExtended";
  src: url(../fonts/MonumentExtended/MonumentExtended-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "MonumentExtended";
  src: url(../fonts/MonumentExtended/MonumentExtended-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: "MonumentExtended";
  src: url(../fonts/MonumentExtended/MonumentExtended-Ultralight.otf);
  font-weight: 100;
}
