@mixin contentFont {
  font-family: "DrukWide";
  font-size: 1.9rem;
  text-align: left;
}

@mixin monumentExtendedFont {
  font-family: "MonumentExtended";
  font-size: 1.2rem;
  text-align: left;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin section-margin {
  margin-bottom: 0rem;
}

@mixin content-width {
  width: 78vw;
  padding-left: 3vw;
}

@mixin Sentence_Grey_Line {
  height: 25%;
  border-bottom: 2px solid $light-gray-text;
  margin: 0 auto;
}
